body{
	line-height: 1.5em;
	font-family: 'Open Sans';
}

/* HEADER */

.header{
	padding: 30px 0 30px 170px;
	max-width: 980px;
	margin: 0 auto;
}

/* MENU */

.menu{
	margin-top: -100px;
}

.side-nav{
	margin-top: 20px;
}

/* GENERAL BODY */

.header h1{
	font-size: 40px;
}

h1{
	font-size: 34px;
}

h3{
	margin: 20px 0 15px;
	font-weight: 600;
}

.centerheader{
	text-align: center;
}

p, ul, li{
	font-size: 17px;
}



/* OPPORTUNITIES PAGE */

.image_float{
	display: inline-block;
	width: 150px;
	vertical-align: top;
	padding-top: 15px;
	margin-right:40px;
}

.info{
	display: inline-block;
	
	max-width: 600px;
}

.section{
	margin-bottom:30px;
}

/* ABOUT US */

.profile .image_float{
	width: 180px;
	text-align: center;
}

.profile .square_image{
	border-radius: 100%;
	max-width: 160px;
	max-height: 160px;
	overflow: hidden;

}

.profile .info{
	max-width: 550px;
}

.name{
	font-weight: 700;
	margin-top: 20px;
	text-align: center;
}

.position{
	font-weight: 700;
	margin-bottom: 10px;
}

.class{
	text-align: center;
	font-size: 15px;
}

/* FOOTER */

.footer{
	clear: both;
	padding: 30px 10px;
	margin-top: 50px;
}